<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-subscribe" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <textarea name="question" rows="4" cols="50"></textarea>
            </div>
            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">送出</button></div>
        </div>
    </form>
</body>
</html>